.navbar
  .navbar-inner
    %a.brand{:href => "/"} App
    %ul.nav
      - Settings.fnav.items.each do |i|
        - if i.controller ==  self.controller_name.to_s
          %li.active
            %a{:href => i.link, :style => 'padding:5px;'}= i.cname
        - else
          %li
            %a{:href => i.link, :style => 'padding:5px;'}= i.cname

    %ul.nav.pull-right
      - if user_signed_in?
        %li= link_to "登出", destroy_user_session_path, :method => :get
      - else
        %li= link_to "登录", new_user_session_path, :method => :get
