.sidebar-wrap
  .head 
    %a{:href => "/sections"}= I18n.t('sections')

  .sections
    - Section.all.each do |s|
      - if !@section.nil? and s.id == @section.try(:id)
        %a.active.section{:href => "/section/#{s.name}"}= s.name
      - else
        %a.section{:href => "/section/#{s.name}"}= s.name
