#footer
  .container
    .span25 
      %p.muted.credit= "&copy; 2013 &nbsp;|&nbsp;All rights reserved.".html_safe
      %ul.links
        %li
          %a{:href => '#'} 关于
        %li
          %a{:href => '#'} 联系我们
= javascript_include_tag "cpanel"
