@import 'typo';
@import 'font-awesome';
@import "compass/utilities/general/min";
@import 'fancy-buttons';
a, a:hover{
  text-decoration: none;
}

a:hover{
  color: #cc6600;
}

.breadcrumb{
  border-left: 4px solid #c9c9c9;
  background-color:#f6f6f6;
  margin:10px 0 0 0;
  padding:5px;
  color:#ccc;
  a{
    font-size:14px;
    margin: 0 5px;
    color:#444;
  }
}

.header{
  background-color:#f6f6f6;
  height:40px;
  border-bottom: 1px solid #e9e9e9;
  .wrapper{
    margin: 0 auto;
    width:990px;
    height:40px;
    .logo{
      float:left;
      height:40px;
      line-height:40px;
      font-weight:bold;
      width:165px;
      margin-right:10px;
      text-align:center;
      font-size:24px;
      a{
        color:#3a87ad;
      }
    }
    .nav{
      float:left;
      height:40px;
      line-height:40px;
      width:450px;
      .node{
        float: left;
        margin: 0 10px;
        font-size: 18px;
        color: #4b65c6;
      }
      .active{
        border-bottom: 2px solid #4b65c6;
      }
    }
    .search{
      float:left;
      height:40px;
      line-height:40px;
      input{
        font-size:18px;
      }
      button{
        font-size:18px;
        margin-left:-7px;
        padding:0 5px;
        border-left:0px;
      }
    }
    .account{
      float:right;
      height:40px;
      line-height:40px;
    }
  }
}

.sidebar-wrap {
  position:fixed;
  height: 300px;
  width: 120px;
  border-top:4px solid #4b65c6;
  background-color:#f6f6f6;
  float:left;
  margin: 0 0 0 -130px;
  padding: 0;
  .head{
    font-weight:normal;
    font-size:18px;
    color:#444;
    margin:10px;
    a{
      color:#444;
    }
  }
  .sections{
    margin-left: 10px;
    a.section{
      font-size:14px;
      margin: 10px 10px 0 0 ;
      display:block;
      float:left;
      padding:2px 4px;
      color:#444;
    }
    a.active,
    a.section:hover{
      background-color:#fff;
      color:#cc6600;
    }
  }
}

.body{
  @include min-height(5000px);
  width:990px;
  margin:0 auto;
}

.footer{
  border-top: 1px solid #e9e9e9;
  .wrapper{
    height:40px;
    line-height:40px;
    width:990px;
    margin:0 auto;
    .copyright{
      float:right;
      color: #444;
    }
  }
}
 
@import 'home';
@import 'section';
@import 'thing';
