@import 'typo';
@import 'font-awesome';
@import "compass/utilities/general/min";
a, a:hover{
  text-decoration: none;
  color: #4b65c6;
}


.header{
  background-color:#f6f6f6;
  height:40px;
  border-bottom: 1px solid #e9e9e9;
  .wrapper{
    margin: 0 auto;
    width:990px;
    height:40px;
    .logo{
      float:left;
      height:40px;
      line-height:40px;
      font-weight:bold;
      width:165px;
      margin-right:10px;
      text-align:center;
      font-size:24px;
      a{
        color:#3a87ad;
      }
    }
    .nav{
      float:left;
      height:40px;
      line-height:40px;
      width:450px;
      .node{
        float: left;
        margin: 0 10px;
        font-size: 18px;
        color: #4b65c6;
      }
      .active{
        border-bottom: 2px solid #4b65c6;
      }
    }
    .search{
      float:left;
      height:40px;
      line-height:40px;
      input{
        font-size:18px;
      }
      button{
        font-size:18px;
        margin-left:-7px;
        padding:0 5px;
        border-left:0px;
      }
    }
    .account{
      float:right;
      height:40px;
      line-height:40px;
    }
  }
}

.body{
  @include min-height(2500px);
  width:990px;
  margin:0 auto;
}

.footer{
  border-top: 1px solid #e9e9e9;
  .wrapper{
    height:40px;
    line-height:40px;
    width:990px;
    margin:0 auto;
    .copyright{
      float:right;
      color: #444;
    }
  }
}
 
@import 'home';
