$gridColumns: 25;
$gridColumnWidth: 30px;
$gridGutterWidth: 10px;
$navbarHeight: 30px;
@import "bootstrap";
@import 'font-awesome';
@import "compass/utilities/general/min";
@import "compass/utilities/general/float";

/* customize style start*/

body{
  background-image: url(/bg.png);
  background-repeat:repeat;
  background-color:#fff;
}

.breadcrumb{
  background-color:transparent;
}

/* nav */

#nav{
margin-top:5px;
}

/* nav end */

/* footer */

#footer{
  width:100%;
  @include min-height(100px);
  border-top:1px solid #eee;
  margin-top:10px;
  p{
   float:right;
   padding:5px 10px;
  }
  ul.links{
   float:right;
   li{
     float:left;
     list-style:none;
     margin:0px;
     padding:5px 10px;
     a{
       text-decoration:none;
       font-size:12px;
     }
   }
  }
}

/* footer end */

/* body */
#body{
  @include min-height(2500px);
}


/* body end */

/* form */
/*
textarea{
  @include min-width(500px);
}
.controls label.checkbox{
  @include float(left);
  padding-top:5px;
}

.controls > .checkbox:first-child {
}
*/
/* form end */

/* base css*/
/*
.page-header{
  padding-bottom:2px;
  margin:0 0 10px 0;
}
*/


ul.breadcrumb{
  background-color:#fff;
}
/* base css end*/


