.home-wrapper{
  .head{
    font-weight:normal;
    font-size:18px;
    color:#444;
    margin:10px;
  }

  .sections{
    border-left: 4px solid #c9c9c9;
    background-color:#f6f6f6;
    margin:10px 0 0 0;
    padding:5px;
    a{
      font-size:14px;
      margin: 0 10px;
    }
  }
  .things{
    width:700px;
    float:left;
    .pagination{
      margin-top: 30px;
      font-size:18px;
      a,span{
        font-size:14px;
        margin: 10px 10px 0 0 ;
        color:#444;
      }
      em{
        font-size:14px;
        margin: 10px 10px 0 0 ;
      }
      em,
      a:hover{
        background-color:#fff;
        color:#cc6600;
      }
    }
    .thing{
      margin-top:10px;
      border:1px solid #f6f6f6;
      @include min-height(280px);
      position:relative;
      .block-1{
        width:450px;
        margin:10px;
        @include min-height(250px);
	.head{
          color:#444;
          margin:0 10px 10px 0;
          a{
            color:#444;
            span.sub{
              color:#cc6600;
            }
          }
	}
        .node{
          margin:-5px 0 20px 0;
          a{
            color:#444;
          }
          color:#ccc;
        }
        .info{
          margin-top:-10px;
          font-size:14px;
        }
        .source{
          margin-top:10px;
          font-size:14px;
        }
        .price{
          line-height:40px;
          font-size:14px;
          color:#cc6600;
        }
      }
      .block-2{
        @include min-height(500px);
        position:absolute;
        right:10px;
        top:0px;
        .thumb img{
          margin-top:10px;
          width:200px;
          height:200px;
        }
        .link{
          a{
            margin:10px auto;
            display:block;
            font-weight:bold;
            color:#3ba354;
            width:80px;
            @include fancy-button(#3ba354, 14px);
            text-align:center;
          }
        }

      }
    }
  }

  .blocks{
    width:280px;
    float:right;
    .tags{
      border-top:4px solid #4b65c6;
      border-left:1px solid #e9e9e9;
      border-right:1px solid #e9e9e9;
      border-bottom:1px solid #e9e9e9;
      margin-top:10px;
      @include min-height(300px);
      .wrapper{
        margin:20px 10px 10px 10px;
        a{
          font-size:14px;
          width:64px;
          line-height:32px;
          display:block;
          float:left;
          color:#444;
        }
        .hot{
          color:#cc6600;
        }
        a:hover{
          color:#cc6600;
        }
      }
    }
  
    .malls{
      border-top:4px solid #4b65c6;
      border-left:1px solid #e9e9e9;
      border-right:1px solid #e9e9e9;
      border-bottom:1px solid #e9e9e9;
      margin-top:10px;
      @include min-height(400px);
      .wrapper{
        margin:10px;
        img{
          width:80px;
          margin:2px 0 0 2px;
        }
      }
    }
  
    .promotions{
      border-top:4px solid #4b65c6;
      margin-top:10px;
      padding:5px;
      @include min-height(400px);
      span.num{
        color:#cc6600;
        font-weight: bold;
      }
      a{
        color:#444;
      }
      a:hover{
        color:#cc6600;
      }
    }

    .ads{
      margin-top:10px;
      @include min-height(400px);
    }

  }
}
